<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="main">
        <div class="search_bar">
            <input type="search" placeholder="search.. pleace" id="serach_text">
            <button class="search_button" id="search_button" type="submit">search</button>
        </div>
        <div class="output">
            <h3 id="output_weather"> search the any city weather</h3> 
            <p id="search_value"></p>
            <p id="search_temp"></p>
        </div>
    </div>
    <form action="/" method="post">
    num1 <input type="number"  name="num1">
    num2 <input type="number"  name="num2">
        <button>submit</button>
    </form>
    <script src="../javascript.js"></script>
    <script src="../../node.js"></script>

</body>
</html>